# Prettier config file
.prettierrc

# Backend Node files and folders
backend/package-lock.json
backend/node_modules

# Backend files and folders
backend/.env
backend/config/db.js
backend/config/user.http
backend/.DS_Store

# Frontend files and folders
frontend/package-lock.json

# Root directories files and folders
.DS_Store