@import './../style/utils/variables';
@import './../style/utils/keyframes';
@import './../style/utils/mixins';

.advice {
  &__number {
    @include grid-column-justify;
    color: $neon-green;
    font-size: 0.65rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }

  &__content {
    width: 80%;
    @include grid-column-justify;
    text-wrap: balance;
    text-align: center;
    font-size: 1.8rem;
  }

  &__separator {
    @include grid-column-justify;
    margin-bottom: 20px;
  }

  @import './../style/components/submit-btn';

  .advice__submit-btn:hover > .advice__btn-icon {
    animation: rotateDice 0.3s linear;
  }
}
