@import './../style/utils/variables';

.advice {
  width: 100%;
  height: fit-content;
  padding: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  background-color: $dark-grayish-blue;
  border-radius: 10px;
  text-wrap: wrap;

  &__number {
    justify-self: center;
    color: $neon-green;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
}
