@import './style/utils/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-items: center;
  font-family: $font-family;
  font-weight: $main-font-weight;
  background-color: $dark-blue;
  color: #fff;
}
