@import './../src/style/utils/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  background-color: $dark-blue;
  display: grid;
  place-items: center;
  font-family: $font-family-manrope;
  color: $grayish-blue;
}
